<h1 class="text-center"><%= t('.title') %></h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <%= simple_form_for(resource,
                          as: resource_name,
                          html: { class: 'form-horizontal' },
                          method: :post,
                          url: confirmation_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= devise_error_messages! %>
        </div>
        <div class="form-group">
          <%= f.input :email,
                      autofocus: true,
                      input_html: { class: 'form-control' },
                      label: false,
                      placeholder: t('.email'),
                      required: false,
                      value: (
                        resource.email unless resource.pending_reconfirmation?
                        resource.unconfirmed_email
                      ) %>
        </div>
        <%= f.button :submit,
                     t('.submit'),
                     class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-4 offset-sm-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
