<div class="clearfix">
  <h1 class="float-left my-2"><%= t('.title') %></h1>
  <div class="float-right mt-2">
    <%= link_to t('.new'),
                new_admin_user_path,
                class: 'btn btn-outline-primary' %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.columns.name') %></th>
      <th><%= t('.columns.email') %></th>
      <th><%= t('.columns.status') %></th>
      <th><%= t('.columns.last_sign_in') %></th>
      <th><%= t('.columns.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% if resources.each do |user| %>
      <tr id="<%= "user-#{user.id}" %>">
          <td nowrap><%= link_to user.name, admin_user_path(user.id) %></td>
          <td nowrap><%= user.email %></td>
          <td nowrap><%= user.status %></td>
          <td nowrap><%= user.last_sign_in_at %></td>
          <td nowrap>
            <%= link_to '',
                        edit_admin_user_path(user.id),
                        class: 'btn btn-outline-secondary fas fa-edit' %>
          </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="4"><%= t('.no_users') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
