<div class="clearfix">
  <h1 class="float-left my-0"><%= t('.title') %></h1>
  <div class="float-right mt-2">
    <%= link_to t('.edit'),
                edit_admin_user_path(resource.id),
                class: 'btn btn-outline-secondary ml-2' %>
    <%= link_to t('.back'),
                admin_users_path,
                class: 'btn btn-outline-primary ml-2' %>
  </div>
</div>

<hr />

<div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('.labels.name') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext"><%= resource.name %></p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('.labels.email') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext"><%= resource.email %></p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('.labels.status') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext"><%= resource.status %></p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold text-right">
      <%= t('.labels.last_sign_in') %>
    </label>
    <div class="col-sm-8">
      <p class="form-control-plaintext"><%= resource.last_sign_in_at %></p>
    </div>
  </div>
</div>
